:root {
    --Borange: #cc1100;
    --Bred: #880808;
    --black: #000;
    --mBlack: #242424;
    --white: white;
}

body {
    background-color: var(--Borange);
    font-family: 'Roboto', sans-serif;
    height: 5000px;
}

::selection {
    color: var(--Bred);
    background-color: var(--mBlack);
}

/* Global */


/* NavBar */

/* scroll */

.line {
    width: 9px;
    position: absolute;
    background-color: var(--Borange);
    z-index: 1000;
    top: 85%;
    border-radius: 0 0 50px 50px;
}

/* end scroll */


/* Logo */
nav .logo {
    position: relative;
    width: 58px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

nav .logo .point {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: var(--Borange);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .logo .point:nth-child(2) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

nav .logo .point .drop {
    width: 7px;
    height: 7px;
    border-radius: 0 100% 100% 100%;
    background-color: var(--Borange);
    position: absolute;
    animation: drop 2s infinite both;
}

/* Logo end */


.navbar {
    width: 100%;
    background-color: var(--white);
    box-shadow:0 2px 5px 1px rgba(64,60,67,.16);
}

nav .container .navbar-brand,
.navbar-nav a.active{
    color: var(--Borange);
} 

.navbar-nav a{
    color: var(--mBlack);
} 

.navbar-nav a:hover,
.navbar-nav a:active,
.navbar-nav a:focus{
    color: var(--Borange);
}

.navbar-nav li{
    padding: 10px;
}

nav .container .navbar-collapse{
    display: flex !important;
    justify-content: flex-end;
}

/* head */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 76px);
}

header .main-container{
    background-color: white;
    width: 100%;
    height: calc(100vh - 110px);
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12),
  0 -10px 80px rgba(0, 0, 0, 0.12)
;
    border-radius: 8px;
    padding: 50px 105px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    animation: floating 5s ease-in-out infinite alternate;
}

header .main-container h2{
    font-size: 23px;
    width: 200px;
    line-height: 60px;
}

header .main-container h2 span{
    font-size: 72px;
    color: var(--Borange);
    font-weight: bold;
}

header .main-container h3 {
    font-size: 32px;
}

header .main-container p {
    max-width: 400px;
    font-size: 20px;
}

header .main-container .text {
    line-height: 40px;
}

header .main-container ul {
    list-style-type: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 45px;
    height: 150px;
    justify-content: space-between;
}

header .ribbon-wrap {
    background-color: transparent;
    transform: translate(10px,-10px);
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 100;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}

header .ribbon-wrap::before {
    content: 'Home';
    background-color: var(--Borange);
    width: 100%;
    height: 40px;
    position: absolute;
    transform: rotate(45deg) translateY(-81px);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

header .ribbon-wrap::after {
    content: '';
    background-color: var(--Bred);
    width: 10px;
    height: 10px;
    bottom: 87px;
    right: 0;
    box-shadow: -203px -203px var(--Bred);
    position: absolute;
    z-index: -1;
}

/* animation for the drops */

@keyframes drop {
    0% {
        transform: translateY(0) scaleX(.85) rotate(45deg);
        animation-timing-function: ease-out;
      }
      60% {
        transform: translateY(90%) scaleX(.85) rotate(45deg);
        animation-timing-function: ease-in;
      }
      80%, 100% {
        transform: translateY(30px) scaleX(.85) rotate(45deg);
      }
} 

/* ghosty  */

@keyframes floating {
    0% { transform: translate(0,  0); }
    50%  { transform: translate(0, 5px); }
    100%   { transform: translate(0, 0); }   
}